POSTGRES_USER=postgres
POSTGRES_PASSWORD=123123
POSTGRES_DB=task_project
DB_HOST=db
DB_PORT=5432
FRONTEND_URL=https://tasker.com
JWT_PRIVATE_KEY_PATH=keys/private.pem
JWT_PUBLIC_KEY_PATH=keys/public.pem
JWT_ALGORITHM=RS256
JWT_ISSUER=auth-module
JWT_AUDIENCE=tasks-platform
IDEMPOTENCY_HMAC_SECRET=7ba6594ddb897bcf7d54f10515dfa31989c88710dab8124ab007f54dd0273fb6
IDEMPOTENCY_HMAC_SECRET=7ba6594ddb897bcf7d54f10515dfa31989c88710dab8124ab007f54dd0273fb6
